@inherits LayoutComponentBase
<div class="app">
    <NavMenu />
    <div class="container-lg">
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</div>
